.logo {
  height: 7em;
  width: 10%;
}

.navLinks {
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
}

.links {
  text-transform: uppercase;
}

.searchIn {
  display: inline-flex;
  height: 48px;
  padding: 14.5px 37px 14.5px 46px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

.search {
  display: flex;
  width: 124.2px;
  height: 48px;
  padding: 13px 34.634px 14px 35px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
